.grid3 {
  display: grid;
  grid-template-columns: 30% 70%;
  height: 680px;

  .titre {
    :first-child {
      letter-spacing: 0.1rem;
    }

    :last-child {
      letter-spacing: 0.2rem;
    }
  }

  h3 {
    color: $color1;
  }

  .grid3Left {
    color: $White;
    background-color: $color2;
    display: flex;

    .cadre {
      height: 90%;
      width: 90%;
      margin: auto auto;
      border: 1px dashed $White;
      display: flex;
      flex-direction: column;
      align-items: center;

      .titre {
        margin: 8% 0;
      }

      .logo {
        margin-bottom: 10%;
      }

      .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p,
        h3 {
          text-align: center;
        }
      }
    }
  }

  .grid3Right {
    background-color: $color3;
    display: flex;
    flex-direction: column;
    align-items: center;

    .titre {
      margin: 8% auto 4%;

      :first-child {
        font-size: 3.5rem;
        margin-bottom: 8px;
      }

      :last-child {
        letter-spacing: 0.1rem;
        font-size: 2.5rem;
      }
    }

    form {
      margin-top: 5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;

      .secondLine,
      .firstLine {
        width: 60%;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        scale: 1.3;
        margin-bottom: 4%;

        div {
          margin: 10px 5%;
          position: relative;
          overflow: visible;

          &::after {
            content: "";
            height: 2px;
            width: 100%;
            position: absolute;
            bottom: -20px;
            left: 0;
            background-color: $color6;
          }
        }

        select, textarea, input {
          width: 90%;
          font-family: "Roboto";
          background: none;
          border: none;
          outline: none;
          transition: 0.2s;

          &:focus{
            scale: 1.2;
            transform: translateX(7%);
          }
        }

        textarea {
          height: 16px;
        }
      }
    }

    #valider {
      margin-top: 2%;
      font-family: "Roboto";
      font-size: large;
      letter-spacing: 0.2rem;
      color: $White;
      background-color: $color2;
      border: none;
      border-radius: 150px;
      padding: 18px 40px;
      transition: 0.2s;

      &:hover {
        scale: 1.2;
      }
    }
  }
}
