@font-face {
  font-family: "Allura";
  src: url(../assets/fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Thin.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins-Thin.ttf);
}
* {
  margin: 0;
  padding: 0;
  resize: none;
  list-style: none;
}

body {
  background-color: rgba(0, 0, 0, 0.849);
  font-family: "Poppins";
}
body .titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .titre :first-child {
  font-family: "Allura";
  color: #7c5f00;
  font-size: 2.7rem;
  height: 45px;
}
body .titre :nth-child(2) {
  font-family: "Roboto";
  font-weight: 800;
  letter-spacing: 0rem;
  font-size: 1.6rem;
}

header {
  font-family: "Poppins";
  color: rgb(235, 235, 235);
  background: url(../../assets/img/bg-slider-06.jpg) center/cover;
  min-height: 90vh;
  display: block;
}
header nav {
  padding: 30px 20% 0;
  margin-bottom: 12%;
  position: relative;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: rgb(235, 235, 235);
  font-size: 0.8rem;
  font-weight: 500;
}
header nav::before {
  content: "Resto";
  color: rgb(235, 235, 235);
  font-size: 2.2rem;
  font-weight: bold;
  font-family: "Allura";
  position: absolute;
  top: 15px;
  left: 10%;
}
header .titre {
  width: 800px;
  margin: 0 auto;
}
header .titre :first-child {
  font-size: 4em;
  margin-bottom: 10px;
  letter-spacing: 0.2rem;
}
header .titre :last-child {
  font-size: 4rem;
  letter-spacing: 0.6rem;
}
header .logo {
  width: 40px;
  margin: 40px auto 20px auto;
}
header p {
  width: 650px;
  letter-spacing: 0.6rem;
  margin: 0 auto;
}

.grid1 {
  display: grid;
  grid-template-columns: 50% 50%;
  max-height: 620px;
  overflow: hidden;
}
.grid1 .grid1Left {
  background-color: rgb(235, 235, 235);
}
.grid1 .grid1Left .cadre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px dashed rgb(206, 172, 59);
  margin: 20px;
}
.grid1 .grid1Left .cadre .titre {
  margin: 5% 0 7%;
}
.grid1 .grid1Left .cadre .logo {
  margin-bottom: 20px;
}
.grid1 .grid1Left .cadre p {
  text-align: center;
  width: 90%;
  margin-bottom: 40px;
}
.grid1 .grid1Left .cadre img {
  border-radius: 150px;
}
.grid1 .grid1Left .cadre h5 {
  margin-bottom: 30px;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 80px 0;
  position: relative;
  height: 1100px;
}
section .titre {
  font-size: 1.8rem;
  margin-bottom: 50px;
}
section .logo {
  margin-bottom: 30px;
}
section ul {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60%;
  margin-bottom: 40px;
}
section ul li {
  position: relative;
}
section ul li::after {
  content: "";
  height: 1px;
  width: 100%;
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
}
section .grid2 {
  display: grid;
  font-family: "Roboto";
  grid-template-columns: 50% 50%;
  background: rgb(235, 235, 235);
  width: 60%;
  -webkit-box-shadow: 0 -6px 0 #7c5f00;
          box-shadow: 0 -6px 0 #7c5f00;
  height: 700px;
  color: black;
  padding: 20px 0;
}
section .grid2 .grid2Left, section .grid2 .grid2Right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section .grid2 .grid2Left .block, section .grid2 .grid2Right .block {
  display: grid;
  grid-template-columns: 25% 55% 20%;
  width: 90%;
  position: relative;
}
section .grid2 .grid2Left .block img, section .grid2 .grid2Right .block img {
  border-radius: 150px;
}
section .grid2 .grid2Left .block .text, section .grid2 .grid2Right .block .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
section .grid2 .grid2Left .block .text :first-child, section .grid2 .grid2Right .block .text :first-child {
  font-weight: bold;
}
section .grid2 .grid2Left .block :nth-child(3), section .grid2 .grid2Right .block :nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #7c5f00;
  font-weight: bold;
}
section .grid2 .grid2Left .block::after, section .grid2 .grid2Right .block::after {
  content: "";
  height: 1px;
  width: 100%;
  background: rgb(206, 172, 59);
  position: absolute;
  bottom: -40px;
}
section .img {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100%;
}

.grid3 {
  display: grid;
  grid-template-columns: 30% 70%;
  height: 680px;
}
.grid3 .titre :first-child {
  letter-spacing: 0.1rem;
}
.grid3 .titre :last-child {
  letter-spacing: 0.2rem;
}
.grid3 h3 {
  color: #7c5f00;
}
.grid3 .grid3Left {
  color: white;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.grid3 .grid3Left .cadre {
  height: 90%;
  width: 90%;
  margin: auto auto;
  border: 1px dashed white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.grid3 .grid3Left .cadre .titre {
  margin: 8% 0;
}
.grid3 .grid3Left .cadre .logo {
  margin-bottom: 10%;
}
.grid3 .grid3Left .cadre .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.grid3 .grid3Left .cadre .text p,
.grid3 .grid3Left .cadre .text h3 {
  text-align: center;
}
.grid3 .grid3Right {
  background-color: rgb(235, 235, 235);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.grid3 .grid3Right .titre {
  margin: 8% auto 4%;
}
.grid3 .grid3Right .titre :first-child {
  font-size: 3.5rem;
  margin-bottom: 8px;
}
.grid3 .grid3Right .titre :last-child {
  letter-spacing: 0.1rem;
  font-size: 2.5rem;
}
.grid3 .grid3Right form {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
.grid3 .grid3Right form .secondLine,
.grid3 .grid3Right form .firstLine {
  width: 60%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  scale: 1.3;
  margin-bottom: 4%;
}
.grid3 .grid3Right form .secondLine div, .grid3 .grid3Right form .secondLine input,
.grid3 .grid3Right form .firstLine div,
.grid3 .grid3Right form .firstLine input {
  margin: 10px 3%;
  position: relative;
  overflow: visible;
}
.grid3 .grid3Right form .secondLine div::after, .grid3 .grid3Right form .secondLine input::after,
.grid3 .grid3Right form .firstLine div::after,
.grid3 .grid3Right form .firstLine input::after {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: -20px;
  left: 0;
  background-color: rgba(185, 185, 185, 0.486);
}
.grid3 .grid3Right form .secondLine select, .grid3 .grid3Right form .secondLine textarea, .grid3 .grid3Right form .secondLine input,
.grid3 .grid3Right form .firstLine select,
.grid3 .grid3Right form .firstLine textarea,
.grid3 .grid3Right form .firstLine input {
  width: 90%;
  font-family: "Roboto";
  background: none;
  border: none;
}
.grid3 .grid3Right form .secondLine textarea,
.grid3 .grid3Right form .firstLine textarea {
  height: 16px;
}
.grid3 .grid3Right #valider {
  margin-top: 2%;
  font-family: "Roboto";
  font-size: large;
  letter-spacing: 0.2rem;
  color: white;
  background-color: black;
  border: none;
  border-radius: 150px;
  padding: 18px 40px;
}/*# sourceMappingURL=index.css.map */